<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IHS-Quiz over</title>
    
    <!-- style.css -->
    <link rel="stylesheet" href="../static/dist/css/style.css">
</head>
<body>
    <div class="wrapper">
        <div>
           <i class="fas fa-award award_icon"></i>
            <br>
            <br>
           <h3 class="username">well done! <span class="name"></span></h3>
           <p class="userpoints">Your Points <span class="points"></span></p>
         <p class="usertime"> Time taken <span class="time_taken"></span><br></p>
<br>
            <br>

        </div>
        <a class="btn-return" href="{{url_for('index')}}"> Return </a>
    </div>
    <script src="https://kit.fontawesome.com/d56261bbb9.js"></script>


        <!-- user info -->
        <script src="../static/dist/js/userInfo.js"></script>

</body>
</html>