<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IHS-Start Quiz</title>
    
    <!-- style.css -->
    <link rel="stylesheet" href="../static/dist/css/style.css">
</head>
<body style="background: #001B3B">
    <div class="wrapper">
        <div class="welcome_text">
            <form class="welcome_form" name="welcome_form" onsubmit="submitForm(event)">
                5 random questions regarding Indian Headgears will be asked to you and
                after answering all the questions, you can return to the home page.
                <br><br>
                Type Your Name Below <br><br>
                <input type="text" name="name">
                <button>Start Quiz</button>
            </form>
        </div>
    </div>

    <!-- site.js -->
    <script src="../static/dist/js/start.js"></script>
</body>
</html>